/*Mobile style css*/

header{
	width: 100%;
}
h1{
	padding: 20px;
	margin:0px;
	font-size:2.5em;
	font-weight: bold;
}

h2{
	font-size:1.5em;
	font-weight: bold;
}

header nav {
	background-color: gray;
}

a {
	padding: 100px;
}

img {
	width: 100%;
	height: 100%;
}

section{
	width: 100%;
}

footer nav{
	display: none;
}